<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_braintree">

    <application>
        <activity android:name=".FlutterBraintreeCustom"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/bt_transparent_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="${applicationId}.paypal"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".BraintreeDropIn"
            android:theme="@style/bt_transparent_activity">
        </activity>


    </application>

</manifest>